.container{
    
    background-color: #2e3047;
    border-radius: 105px;
    padding: 16px;
    margin: 16px 0
}
.container::after{
    content: "";
    clear: both;
    display: table;

}
.container img{
    float: left;
    margin-right: 20px;
    border-radius: 75px;

}
a:link{color: #ab4e0d;}
a:visited{color: #000000;}
a:hover{color: #3bba9c;}
a:active{color:antiquewhite}
